.container-fluid
  .row
    .col-md-12.text-center
      %h2 O nas
  .row
    .col-sm-10.col-sm-offset-1
      %p 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id luctus neque, ut congue quam. Praesent pulvinar tortor semper augue rhoncus fringilla sed id ante. Phasellus in varius arcu. Suspendisse et interdum mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed pharetra nisi non elit volutpat pellentesque. Phasellus eleifend justo at nisl commodo ultricies. Nam sapien dolor, rutrum et tempus sit amet, scelerisque ac mauris. Mauris faucibus felis justo, id malesuada tellus vehicula at. Curabitur sed est maximus, dapibus sem ac, fermentum purus. Curabitur fringilla augue ac diam dictum faucibus ut quis dolor. Pellentesque orci leo, mollis vitae odio a, euismod molestie nisi. Suspendisse potenti.
  .row
    %hr/
