.container-fluid
  .row
    .col-md-12.text-center
      %h1 Kontakt
  .row
    .col-sm-10.col-sm-offset-1.text-center
      %h2
        Krystyna Pieróg
      %br/
  .row
    .col-sm-4.col-sm-offset-1.text-center.page-header
      %h2
        Adres
      %p
        ul. Piotrkowska 99
      %p
        99-99 Uć
      %h2
        Telefon
      %p
        (22)999-999-999
    .col-sm-4.col-sm-offset-1.text-center
      %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/place?q=Piotrkowska%2099%2C%20%C5%81%C3%B3d%C5%BA%2C%20Poland&key=AIzaSyBjm3-aTGg9eikT8DKWYe5fysvlIJnSnUw", :style => "border:0", :width => "600"}
  .row
    %hr/
