.container-fluid
  .row
    .col-md-12.text-center
      %h2 Regulamin
  .row
    .col-sm-10.col-sm-offset-1
      %p 
        1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id luctus neque, ut congue quam. Praesent pulvinar tortor semper augue rhoncus fringilla sed id ante. Phasellus in varius arcu. Suspendisse et interdum mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed pharetra nisi non elit volutpat pellentesque. Phasellus eleifend justo at nisl commodo ultricies. Nam sapien dolor, rutrum et tempus sit amet, scelerisque ac mauris. Mauris faucibus felis justo, id malesuada tellus vehicula at. Curabitur sed est maximus, dapibus sem ac, fermentum purus. Curabitur fringilla augue ac diam dictum faucibus ut quis dolor. Pellentesque orci leo, mollis vitae odio a, euismod molestie nisi. Suspendisse potenti.
      %p
        2. Nullam volutpat lorem varius lacus porttitor aliquam. Phasellus varius sem ut nisi porttitor, sit amet vulputate lectus efficitur. Donec in justo auctor velit mattis fermentum quis congue lorem. Nullam dictum ultrices velit, ac porttitor arcu. Praesent sagittis gravida accumsan. Morbi ut lacinia augue. Pellentesque id pellentesque lacus. Suspendisse id volutpat lectus. Suspendisse scelerisque interdum turpis, non posuere arcu efficitur at. Suspendisse et ante vulputate, dapibus ante non, blandit neque. In hac habitasse platea dictumst. Donec ut elit quis lorem condimentum convallis eget sed nunc. 
  .row
    %hr/
