.row
  .col-sm-6.col-sm-offset-2
    %h2 Zdjęcia na Twojej stronie głównej
    =link_to 'Dodaj zdjęcie', new_admin_slider_image_path, class: 'btn btn-primary'
%br/
.row
  .col-sm-8.col-sm-offset-2
    %table.table.table-hover
      %thead
        %tr
          %th{:width => "50px;"}
          %th Tytuł
          %th Akcje
      %tbody
        - @sliders.each do |slider|
          %tr.odd
            %td= image_tag slider.photo(:miniature)
            %td.sorting_1 
              -unless slider.title==''
                = slider.title
              -else
                Zdjęcie bez tytułu
            %td
              = link_to "Usuń", { action: "destroy", id: slider.id }, method: :delete, data: { confirm: "Na pewno?" }, class: 'btn btn-primary'
