.row
  .jumbotron
    %h1.padded Edytuj typ
    %p
      = form_for @gear, :html => {multipart: true}, url: admin_gear_path do |f|
        .field.padded
          = f.label :name
          = f.text_field :name
        .actions.padded
          = f.submit "Zapisz", class: 'btn btn-primary' 
