.row
  .col-sm-6.col-sm-offset-2
    %h2 Typy Twoich produktów
    =link_to 'Dodaj typ', new_admin_gear_path, class: 'btn btn-primary'
%br/
.row
  .col-sm-8.col-sm-offset-2
    %table.table.table-hover
      %thead
        %tr
          %th.col-sm-8 Typ
          %th.col-sm-4 Akcje
      %tbody
        - @basegears.each do |gear|
          %tr
            %td
              = gear.name
            %td 
              = link_to 'Edytuj', edit_admin_gear_path(gear.id) , class: 'btn btn-primary'
              = link_to "Usuń", { action: "destroy", id: gear.id }, method: :delete, data: { confirm: 'Na pewno?' }, class: 'btn btn-warning'
      %tfoot
    .row
      .col-sm-5
        #{@basegears.count} typy
