.row
  %ul
    -@gear.errors.full_messages.each do |err|
      %li
        =err
.row
  .jumbotron
    %h1.padded Stwórz nowy model
    %p
      = form_for @gear, :html => {multipart: true}, url: admin_new_model_path do |f|
        .field.padded
          = f.label :name
          = f.text_field :name
        .field.padded
          =f.label :parent_id, 'Typ'
          =f.collection_select(:parent_id, @types, :id, :name)
        .actions.padded
          = f.submit "Zapisz", class: 'btn btn-primary' 
