.container-fluid
  .row
    .col-md-2.text-center
      .list-group
        %h4.list-group-item.active Kategorie
        %a.list-group-item{ :href => "#" } Romantyczna
        %a.list-group-item{ :href => "#" } Na niegrzecznego
        %a.list-group-item{ :href => "#" } Miło i sympatycznie
        %a.list-group-item{ :href => "#" } Siłownia to moje życie
        %a.list-group-item{ :href => "#" } Full pro
    .col-md-10
      %h3 (Lista produktów)
      
