default: &default
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: 5
  timeout: 5000
  username: 
  password:

development:
  <<: *default
  database: pierogapple_development

test:
  <<: *default
  database: pierogapple_test
