.row
  .col-sm-6.col-sm-offset-2
    %h2 Kategorie Twoich produktów
    =link_to 'Dodaj kategorię', new_admin_category_path, class: 'btn btn-primary'
%br/
.row
  .col-sm-8.col-sm-offset-2
    %table.table.table-hover
      %thead
        %tr
          %th Kategoria
          %th Akcje
      %tbody
        - @categories.each do |category|
          %tr
            %td
              = category.name
            %td
              = link_to "Usuń", { action: "destroy", id: category.id }, method: :delete, data: { confirm: "Na pewno?" }, class: 'btn btn-primary' 
      %tfoot
    .row
      .col-sm-5
        #{@categories.count} kategorii
