.box
  .box-header
    %h3.box-title Kategorie Twoich produktów
  / /.box-header
  .box-body
    #example2_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
      .row
        .col-sm-12
          %table#example2.table.table-bordered.table-hover.dataTable{"aria-describedby" => "example2_info", :role => "grid"}
            %thead
              %tr{:role => "row"}
                %th.sorting_asc{"aria-controls" => "example2", "aria-label" => "Rendering engine: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Kategoria
                %th.sorting{"aria-controls" => "example2", "aria-label" => "CSS grade: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Akcje
            %tbody
              - @categories.each do |category|
                %tr.odd{:role => "row"}
                  %td.sorting_1 
                    = category.name
                  %td 
                    %a{:href => new_admin_category_path }
                      %span Usuń
            %tfoot
              %tr
                %th{:colspan => "1", :rowspan => "1"} 
                  %a{:href => new_admin_category_path }
                    %span Nowa kategoria
      .row
        .col-sm-5
          #example2_info.dataTables_info{"aria-live" => "polite", :role => "status"} Pokazuję #{@categories.count} kategorii
  / /.box-body
/ /.
