.container
  %ul
    -@product.errors.full_messages.each do |err|
      %li
        =err
  .row
    .col-md-4.col-md-offset-4
      %h1 Dodaj produkt
  =form_for @product, :html => {multipart: true}, url: admin_products_path do |f|
    .col-md-6
      %p
        =f.label :name, 'Nazwa'
        =f.text_field :name
      %p
        =f.label :price, 'Cena'
        =f.text_field :price
      %p
        =f.label :category, 'Kategoria'
        =f.collection_select(:category_id, @categories, :id, :name)
      %p
        =f.label :parent, 'Model'
        =f.collection_select(:gear_id, @gears.base, :id, :name)
      %p
        =f.label :gear, 'Typ'
        =f.collection_select(:gear_id, @gears.notbase, :id, :name)
      %p
        =f.label :description, 'Opis'
        =f.text_area :description
    .col-md-offset-6
      =f.fields_for :product_images do |builder|
        -if builder.object.new_record?
          %p
            =builder.label :caption, "Tytuł zdjęcia"
            =builder.text_field :caption
          %p
            =builder.label :photo, "Ścieżka zdjęcia"
            =builder.file_field :photo
    .row
      .col-md-2.col-md-offset-5
        =f.submit "Dodaj produkt"
