div.c-wrapper{
  width: 80%;
  margin: auto;
}

.carousel-inner > .item > img{
  width: 100%;
  margin: 0;
} 
.carousel-inner > .item > a > img{
  width: 100%;
  margin: auto;
}

.product-carousel {
  max-height: 500px;
}
