.description{
  resize: vertical;
}

.vertical-line{
  border-left: thick solid #d3d3d3;
}

.status{
  padding-top: 25px;
}

.unavailable{
  color: #FF0000;
}

.onorder-order{
  color: #FF6347;
}

.available{
  color: #00FF00;
}
