.description{
  resize: vertical;
}

.vertical-line{
  border-left: thick solid #d3d3d3;
}

.status{
  padding-top: 25px;
}

.unavailable{
  color: #FF0000;
}

.onorder-order{
  color: #FF6347;
}

.available{
  color: #00FF00;
}

#addonetocart{
  text-align: center;
  font-size: 25px;
  position: absolute;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px;
  margin: 5px 0 0 3px;
  transition: 0.5s;
  -webkit-transition: 1s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#addonetocart:hover {
  background-color: rgba(255, 255, 255, 0.7)
}
