.description{
  resize: vertical;
}

.vertical-line{
  border-left: thick solid #d3d3d3;
}

.status{
  padding-top: 25px;
}

.unavailable{
  color: red;
}

.special-order{
  color: orange;
}

.available{
  color: green;
}


.avalible > .tooltip > .tooltip-inner {
  background-color: #FF0000;
}

.unavalible > .tooltip > .tooltip-inner {
  background-color: #00FF00;
}

.onorder > .tooltip > .tooltip-inner {
  background-color: #FF6347;
}
