%p
  cześć #{@resource.email}!
%p Ktoś poprosił o wysłanie linka do zmiany Twojego hasła. Możesz to zrobić linkiem podanym poniżej.
%p= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token)
%p Jeśli to nie Twoja prośba, zignoruj ten email.
%p Twoje hasło nie zmieni się dopóki nie przejdziesz do linku powyrzej i nie wybirzesz nowego hasła.
