.container
  %hr
  %footer
    .row
      .col-md-2.text-center.col-md-offset-5
        %p Apple Pieróg
      .col-md-1.col-md-offset-1.text-center
        =link_to 'Kontakt', contact_path
      .col-md-1.text-center
        =link_to 'O nas', about_path
      .col-md-1.text-center
        =link_to 'Regulamin', rules_path