%hr
%footer
  .row
    .col-md-1.text-center.col-md-offset-1
      =link_to 'http://facebook.com' do
        %i.fa.fa-facebook-square.fa-3x.fb-blue
        .fb-blue Facebook
    .col-md-1.text-center
      =link_to 'http://instagram.com' do
        %i.fa.fa-camera-retro.fa-3x.insta-brown
        .insta-brown Instagram
    .col-md-2.text-center.col-md-offset-2
      %p Apple Pieróg
    .col-md-1.col-md-offset-1.text-center
      =link_to 'Kontakt', contact_path
    .col-md-1.text-center
      =link_to 'O nas', about_path
    .col-md-1.text-center
      =link_to 'Regulamin', rules_path
