.container-fluid
  .row
    .col-md-2.text-center
      .list-group
        %h4.list-group-item.active Kategorie
        - @categories.each do |category|
          = link_to category.name.capitalize, products_path(category_id: category.id), class: "list-group-item"
    .col-md-10
      %h1 Produkty:
      - @products.each do |p|
        .col-xs-6.col-md-2.text-center
          %a.thumbnail{:href => product_path(p.id), title: "#{p.gear.parent.name.capitalize} - model: #{p.gear.name}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip'}
            =image_tag p.product_images.first.photo(:thumb)
            .caption
              =p.name
              %br/
              %b=number_to_currency(p.price, format: '%n%u', unit: 'zł')
      .row
        .col-md-12.text-center
          %b= link_to 'dodaj', new_product_path

