.container-fluid
  .row
    =render 'carousel'
    %hr/
  .row
    .col-md-2.text-center
      =render 'filters'
    .col-md-10
      %a.anchor{:name => 'products'}
      %h1 Produkty:
      - @products.each do |p|
        .col-xs-4.col-md-2.text-center
          %a.thumbnail{:href => product_path(p.id), title: "#{p.gear.parent.name.capitalize} - model: #{p.gear.name} - status: #{p.status}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip'}
            =image_tag p.product_images.first.photo(:thumb)
            .caption
              =p.name.truncate(12)
              %br/
              %b=number_to_currency(p.price, format: '%n%u', unit: 'zł')
            -if p.status == 'dostepny'
              =link_to addoneitem_path(p_id: p.id), id: 'addtocart', method: :post do
                %i.glyphicon.glyphicon-plus#addonetocart 
