.container
  .col-md-4
  .col-md-8
    %h1
      =@product.name
    %p
  .col-md-4
    Zdjecia:
    -(@product.product_images).each do |image|
      =image_tag image.photo.url(), class: "thumbnail"
  =@product.price
  =@product.category.name
  =@product.gear.parent.name
  =@product.gear.name
  =@product.description