<!DOCTYPE html>
<html>
<head>
  <title>PierogApple</title>
  <% #stylesheet_link_tag    'application', media: 'all' => true %>
  <%= stylesheet_link_tag    'application' => true %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
